<p id="notice"><%= notice %></p>

<p>
  <strong>EnergyUsage:</strong>
  <%= @energy_usage.energy_usages %>
</p>

<%= link_to 'Edit', edit_energy_usage_path(@energy_usage) %> |
<%= link_to 'Back', energy_usages_path %>
